@import "~bootstrap/scss/bootstrap";

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    img {
        height: 50px;
    }
    a {
        color: #ff4000;
    }
}

.card {
    h4 {
        color: #008dcf;
    }

    h6 {
        display: inline-block;
        color: white;
        background-color: #008dcf;
    }
    .icon-train.ontime {
        color: green;
    }

    .icon-train.delayed {
        color: red;
    }
}

.stop-train {
    height: 50vh;
}
